##
# EXAMPLE
#
# Read more about .env files when using create-react-app here:
# https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables#adding-development-environment-variables-in-env
#

PUBLIC_URL=/demo/
APP_CONFIG=config/netlify.js
USE_HASH_ROUTER=false

# Proxy settings (optional)
# For dev:dcm4chee

# 옵션 1: 단일 타겟 방식 (모든 context가 같은 서버로)
# DCM4CHEE_PROXY_TARGET=http://192.168.0.202:7393
# DCM4CHEE_PROXY_CONTEXTS=/dicomweb,/v2/auth

# 옵션 2: 멀티 타겟 방식 (context별로 다른 서버) - 권장
# DCM4CHEE_DICOMWEB_TARGET=http://192.168.0.202:8083
# DCM4CHEE_API_TARGET=http://192.168.0.202:7393
